@model List<Usuario>

@{
    ViewData["Title"] = "Listagem de usuários";
}

<table>
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Login</td>
        <td>Senha</td>
        <td>Data de Nascimento</td>
    </tr>

    @foreach (Usuario u in Model)
    {
        <tr>
            <td>@u.Id</td>
            <td>@u.Nome</td>
            <td>@u.Login</td>
            <td>@u.Senha</td>
            <td>@u.DataNascimento</td>
        </tr>
    }
</table>